.nav {
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, .10);
    flex: 1 100%;
    text-align: center;
    line-height: 42px;
    font-size: 14px;
    position: relative;
}

div.list > * {
 display: inline-block;
}

.left {
    position: absolute;
    left: 30px;
    top: 8px;
    color: #0084ff;
    cursor: pointer;
}

.right {
    position: absolute;
    right: 30px;
}

.edit {
    color: #0084ff;
    cursor: pointer;
}



