.talent {
    border-radius: 1.3em;
    background: #0082fc;
    color: white;
    font-weight: 300;
    padding: 10px 16px 10px 16px;
    margin: 1px;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    margin-top: 4px;
    .points {
        position: absolute;
        right: 15px;
    }
}
